{% extends 'base.html.twig' %}
{% block body %}
{% include 'adminMenu.html.twig' %}
    <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'label.id'|trans }}</th>
                    <th>{{ 'firstname.label'|trans }}</th>
                    <th>{{ 'lastname.label'|trans }}</th>
                    <th>{{ 'email.label'|trans }}</th>
                    <th>{{ 'label.login'|trans }}</th>
                    <th>{{ 'label.options'|trans }}</th>
                </tr>
                </thead>
                {% for user in users %}
                {% set i=0 %}
                <tbody>
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.login }}</td>
                    <td><a href="{{ url('delete_user', {'id':user.id}) }}"> <input type="submit" value="{{ 'label.delete'|trans }}" class="btn btn-success" /></a>
                        <a href="{{ path('edit_user', {'id':user.id}) }}"><input type="submit" value="{{ 'label.edit'|trans }}" class="btn btn-success" /></a>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
    <a href="{{ path('admin_index') }}"><button>{{ 'label.admin.panel'|trans }}</button></a>
{% endblock %}